/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

/* Global Variables */
:root {
    --default-greywhite: #e5e5e9;
    --white: white;
    --grey-theme: #1f1f23;
    --black: black;
    --text-black: black;
    --text-white: white;
    --dark-theme-text: white;
}

/* Body Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--default-greywhite);
    /* Dark Theme */
    &.dark {
        background-color: var(--grey-theme);
        color: var(--text-white);
    }
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* Dark Theme */
    &.dark {
        background-color: var(--black);
        color: var(--text-white);
        box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    }
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: var(--text-default);
}

.dark-theme-toggle,
.blogs-web-button {
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    color: var(--text-default);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    /* Dark Theme */
    &.enabled {
        color: var(--white);
        background-color: var(--black);
        border: 1px solid var(--white);
    }
}


.dark-theme-toggle ion-icon,
.dark-theme-text {
    padding: 6px;
}


.blogs-web-button {
    position: relative;
    border: 1px solid var(--black);
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
    &.enabled {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
}

/* Hover Styles for Blogs Web Button and Dark Theme Toggle */
.blogs-web-button:hover {
    scale: 1.01;
    padding: 1.1rem 3.1rem;
}


.dark-theme-toggle:hover,
.blogs-web-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    &.enabled {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
}

/* Main Styles */
main {
    flex: 1;
}

/* Blog Post Styles */
.post-blog {
    width: 100%;
    max-width: 600px;
    background-color: var(--white);
    backdrop-filter: blur(40px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 16px;
    color: var(--text-default);
    background-color: var(--white);
    /* Dark Theme */
    &.dark {
        background-color: var(--black);
        color: var(--text-white);
        box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.3);
    }
}

/* Form Title Styles */
.form-title {
    text-align: center;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
label {
    margin-bottom: 6px;
}

/* Input and Textarea Styles */
input[type="text"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    background-color: var(--default-greywhite);;
    &.dark {
        background-color: var(--grey-theme);
        color: var(--text-white);
    }
}

input[type="text"] {
    height: 50px;
}

textarea {
    width: 600px;
    height: 280px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: var(--text-default);
    background-color: var(--white); 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    &.dark {
        background-color: var(--black);
        color: var(--text-white);
        box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1);
    }
}

.footer-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-bottom: 4px;
     /* Dark Theme */
    &.dark {
        color: #ccc;
    }
}

.footer-link:hover {
    color: #007bff;
}

.footer-icon {
    margin-right: 10px;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */

    header {
        padding: 10px;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar button {
        margin-bottom: 10px;
    }

    .post-blog {
        width: 100%;
        max-width: none;
        margin: 8px;
    }

    textarea {
        width: 100%;
        max-width: none;
    }

    input[type="text"] {
        width: 100%;
        max-width: none;
    }

    footer {
        position: relative;
        padding: 10px;
    }

    .footer-link {
        font-size: 14px;
    }

    .footer-icon {
        font-size: 20px;
    }
}